{% extends 'takeaway/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'takeaway/index_style.css' %}"> 
{% endblock %}

{% block content %}

    <div class="search-container">
    <form action="/action_page.php">
            <input type="text" placeholder="Search for dishes.." name="q">
            <button type="submit">Submit</button>
        </form>
    </div>

    {% if dish_list %}
        {% regroup dish_list by get_dish_type_display as dish_list_by_type %}
        <div class="content">
        {% for dish_type in dish_list_by_type %}
            <div class="category">
                <h1><p>{{ dish_type.grouper }}</p></h1>
            </div>
            {% for dish in dish_type.list %}
                <div class="item">
                    <span>
                        <img src= {{ dish.image.url }} style="width:175px;height:175px;"><br/>
                        {{ dish.name }} <br/>
                        {{ dish.description }} <br/>
                        Price: {{ dish.price }} kr.
                        <form action="{% url "cart:cart_add" dish.id %}" method="post">
                            {{ add_dish_form }}
                            {% csrf_token %}
                            <input type="submit" value="Add">
                        </form>
                    </span>
                </div>
            {% endfor %}
        {% endfor %}
        </div>
    {% else %}
        <p>No dishes are availible.</p>
    {% endif %}
{% endblock %}

{% if dish %}
{% for dish in dish_list %}
    <a href="{% url 'buy_dish' pk=dish.pk %}">
    <!--Upon successful search book image with hyperlink appears -->
    <img src="{{ dish.image.url }}" alt="No Image"></a>
    <p>{{ dish.name }}</p>
    <p>Rs.{{ dish.price }}</p>   
{% endfor %}
{% endif %}


