{% extends 'takeaway/base.html' %}
{% load static %}

{% load watson %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'takeaway/index_style.css' %}"> 
{% endblock %}


{% block content %}

{% if is_search == True %}
    <h1>Search results{% if query %} for &ldquo;{{query}}&rdquo;{% endif %}</h1>
        {% if search_results %}
            <div class="search_container">
                {% for result in search_results %}
                    <div class="item">
                        <span>
                            <img src= {{ result.object.image.url }} style="width:175px;height:175px;"><br/>
                            {{ result.object.name }} <br/>
                            {{ result.object.description }} <br/>
                            Price: {{ result.object.price }} kr.
                            <form action="{% url "cart:cart_add" result.object.id %}" method="post">
                                {{ add_dish_form }}
                                {% csrf_token %}
                                <input type="submit" value="Add">
                            </form>
                        </span>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            {% if query %}
                <p><em>There are no results to display.</em></p>
                <p><em>Try entering a less specific search term.</em></p>
            {% else %}
                <p><em>Please enter a query in the search form.</em></p>
            {% endif %}
        {% endif %}

{% else %}
    {% if dish_list %}
        {% regroup dish_list by get_dish_type_display as dish_list_by_type %}
        <div class="content">
        {% for dish_type in dish_list_by_type %}
            <div class="category">
                <h1>{{ dish_type.grouper }}</h1>
            </div>
            {% for dish in dish_type.list %}
                <div class="item">
                    <span>
                        <img src= {{ dish.image.url }} style="width:175px;height:175px;"><br/>
                        {{ dish.name }} <br/>
                        {{ dish.description }} <br/>
                        Price: {{ dish.price }} kr. <br/>
                        {% for allergen in dish.allergy_info.all %}
                            {% if not forloop.last %}
                                {{ allergen.get_name_display }},
                            {% else %}
                                {{ allergen.get_name_display }}
                            {% endif %}
                        {% endfor %}
                        <br/>
                        <form action="{% url "cart:cart_add" dish.id %}" method="post">
                            {{ add_dish_form }}
                            {% csrf_token %}
                            <input type="submit" value="Add">
                        </form>
                    </span>
                </div>
            {% endfor %}
        {% endfor %}
        </div>
    <div class="allergen">
        <p> Please inform us if you have any allergies. We will be happy to customize your order.
            <br> Allergens: G-gluten, Sh-shellfish, E-eggs, F-fish, P-peanuts, So-soy, Mi-milk, N-nuts, C-celery, Mu-mustard, Se-sesame, Su-sulphites, L-lupin, Mo-molluscs.</p>
    </div>
    {% else %}
        <p>No dishes are available.</p>
    {% endif %}
    {% endif %}
{% endblock %}





