{% extends 'takeaway/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet", type="text/css" href="{% static 'takeaway/index_style.css' %}"> 
{% endblock %}

{% block content %}
    {% if dish_list %}
        {% regroup dish_list by get_dish_type_display as dish_list_by_type %}
        <div class="main">
        {% for dish_type in dish_list_by_type %}
            <div class="category">
                <h1><p>{{ dish_type.grouper }}</p></h1>
            </div>
            {% for dish in dish_type.list %}
                <div class="item">
                    <span>
                        <img src= {{ dish.image.url }} style="width:150px;height:150px;">
                        {{ dish.name }} <br/>
                        {{ dish.description }} <br/>
                        Pris: {{ dish.price }} .- kr
                    </span>
                </div>
            {% endfor %}
        {% endfor %}
        </div>
    {% else %}
        <p>No dishes are availible.</p>
    {% endif %}
    
{% endblock %}