.block_content {
	margin-right: 0px;
}


button {
	height: 70px;
}
.error p {
	font-size: 20px;
	color: red;
}
table p {
	margin-top: 10px;
	margin-bottom: 10px;
}
p a {
	margin-top: 10px;
	margin-bottom: 10px;
}
table {
	margin-left: 10%;
	border-collapse: collapse;
}

th {
	font-size: 23px !important;
	color: white;
	text-align: center;
	font-weight: normal;
}
form p label {
	text-align: right;
	font-size: 20px !important;
}
table a {
	color: #669eac !important;
}
input {
	font-size: 20px;
}
select {
	font-size: 20px;
}
table {
	width: 80%;
}
table th, td {
	border: 3px solid #5c9aa7;
	font-size: 20px;
	table-layout: fixed;
}
table hr {
	color: #5c9aa7;
	margin: 0px;
}
th {
	background-color: #669eac;
}
td {
	padding: 7px;
	overflow: hidden;
	text-align: center;
}