		button {
			height: 70px;
		}
		p {
			margin-top: 10px;
			margin-bottom: 10px;
		}
		table {
			margin-left: 10%;
			border-collapse: collapse;
		}
		th {
			font-size: 23px !important;
			color: white;
			font-weight: normal;
		}
		form p label {
			text-align: right;
			font-size: 20px !important;
		}
		input {
			font-size: 20px;
		}
		select {
			font-size: 20px;
		}
		table {
			width: 80%;
		}
		table th, td {
			border: 3px solid #5c9aa7;
			font-size: 20px;
			table-layout: fixed;
		}
		table hr {
			color: #5c9aa7;
			margin: 0px;
		}
		th {
			background-color: #669eac;
		}
		th:nth-of-type(2) {
			width: 
		}
		th:nth-of-type(6) {
			width:
		}
		th:nth-of-type(4) {
			width:
		}
		th:nth-of-type(7) {
			width:
		}
		th:nth-of-type(8) {
			width:
		}
		th:nth-of-type(9) {
			width:
		}
		td {
			padding: 7px;
			overflow: hidden;
			text-align: center;
		}