div.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.category {
    background-color: #669eac;
    opacity: .9;
	height: 83px;
    width: 90%;
    margin: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1.2em;
    color: white;
    box-shadow: 1px 1px 1px #595959;
}

div.item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 1.33%;
}

div.main {
    grid-area: content;
}
div.main {
    display: grid;  
    grid-gap: 0.2vw;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
}
