body {
    background-color: whitesmoke;
    margin: 0px;
    padding: 0px;

    font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
    “Fira Sans”, “Droid Sans”, “Helvetica Neue”, sans-serif;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.block_content {
    margin-left: 150px;
    margin-right: 274px;
    padding-bottom: 113px;
}


h1, h2, h3, h4, h5 , h6 { 
    margin-top: none !important;
    font-family: 'Segoe UI', sans-serif !important; 
    font-weight: normal !important;
    font-size: xx-large !important;
}

.header hr {
	visibility: hidden;
}

.text-left {
    text-align:left;
}

.text-right {
    text-align:right;
}

form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:16px;
    padding-bottom:4px;
}

form p input {
    width:300px;
    font-size:16px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

.subheader {
    float: right;
}
.subheader a {
	color: #669eac !important;
}

.header {
	color: #437784;
	background-color: #669eac;
}

.header ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke
}

.header li {
    float: right;
}

.header li a {
    display: block;
    color: white;
	background-color: #669eac;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-weight: 600;
}

.header li a:hover {
    background-color: lightgray
}

.header h1 {
    display: inline;
    color: white;
}

.header a:link, a:visited, a:hover {
	text-decoration: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 113px;
    text-align: center;
    background-color: white;
}

footer a {
    color: grey !important;
	color: white;
}

.subheader {
    float: right;
}
.subheader a {
	color: #669eac !important;
}

.cart {
    padding-left: 10px;
}

.search-container {
    padding: 10px;
}