body {
    background-color: whitesmoke;
    margin: 5px;
    padding: 0px;

    font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
    “Fira Sans”, “Droid Sans”, “Helvetica Neue”, sans-serif;

    display: grid;
    grid-gap: 0.2vw;
    height: 100vh;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 120px 1fr 61px;
    grid-template-areas: "header   header"
                       "sidebar content"
                       "footer footer"; 
}

div.header {
    grid-area: header;
}
div.main {
    grid-area: content;
}
div.main {
    display: grid;  
    grid-gap: 0.2vw;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
}

