{% extends 'takeaway/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'cart/detail_style.css' %}">
{% endblock extra_css %}

{% block content %}
    <h1>Din handlevogn</h1>

    <table class="cart">
        <thead>
            <tr>
                <th>Bilde</th>
                <th>Rett</th>
                <th>Antall</th>
                <th>Fjern</th>
                <th>Stykkpris</th>
                <th>Pris</th>
            </tr>
        </thead>
    <tbody>
        {% for item in cart %}
            {% with dish=item.dish %}
                <tr>
                    <td>
                        <img src={{ dish.image.url }} style="width:150px;height:150px;">
                    </td>
                    <td>{{ dish.name }}</td>
                    <td>
                        <form action="{% url "cart:cart_add" dish.id %}" method="POST">
                            {% csrf_token %}
                            {{ item.update_quantity_form.quantity }}
                            {{ item.update_quantity_form.update }}
                            <input type="submit" value="Update">
                        </form>
                    </td>
                    <td><a href="{% url "cart:cart_remove" dish.id %}">Fjern</a></td>
                    <td class="num">{{ item.price }} kr.</td>
                    <td class="num">{{ item.total_price }} kr.</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">{{ cart.get_total_price }} kr.</td>
        </tr>
    </tbody>
</table>
<p class="text-right">
    <a href="{% url "takeaway:index" %}" class="button light">Continue shopping</a>
    
</p>


{% endblock content %}