{% extends 'employeepanel/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'employeepanel/index_style.css' %}"> 
{% endblock %}

{% block content %}
	<h1>{{ viewtype }}</h1>
	{% if messages %}
		{% for message in messages %}
			<div class="error"> <p> {{ message }} </p> </div>
		{% endfor %}
	{% endif %}
	{% if order_list %}
		<br>
		<table style="margin-bottom:100px;">
			<tr>
				<th>Pickup time</th>
				<th>#</th>
				<th>Recipient</th>
				<th>Telephone number</th>
				<th>Contents</th>
				<th>X</th>
				<th>Price</th>
				<th>Comments</th>
				<th>Status</th>
				<th>Choices</th>
			</tr>
		{% for order in order_list %}
			<tr>
				<td>{{ order.pickup_time }}</td>
				<td><a class "button" href="/employeepanel/order/{{ order.id }}/edit/">{{ order.id }}</a></td>
				<td>{{ order.name_of_customer }}</td>
				<td>{{ order.phone_number }}</td>
				<td>
				{% for dishes in order.dishes.all %}
					<p><a class "button" href="/employeepanel/order/{{ dishes.id }}/edititem/">{{ dishes.dish.name }}</a></p>
					<hr>
				{% endfor %}
					<div class="link" style="font-size: 30px;margin:0px;text-decoration:none;">
						<a class "button" style="text-decoration:none;margin:0px;"href="/employeepanel/order/{{ order.id }}/additem">+</a>
					</div>
				</td>
				<td>
				{% for dishes in order.dishes.all %}
					<p>{{ dishes.quantity }}</p>
					<hr>
				{% endfor %}
					<div class="link" style="font-size: 30px;text-decoration:none;visibility:hidden;">
						<a class "button" style="text-decoration:none;margin:0px;"href="/">+</a>
					</div>
				</td>
				<td>{{ order.get_order_total }}</td>
				<td>{{ order.comment }}</td>
				<td>{{ order.get_status_display }}</td>
				<td>
					<form action="{% url 'employeepanel:update_order' order.id %}" method="post">
						{% include 'takeaway/form_util.html' with form=update_order_status_form %}
						{% csrf_token %}
						<input type="submit" value="Update">
					</form>
				</td>
			<tr>
		{% endfor %}
		</table>
	{% else %}
		<p>There are no orders available</p>
	{% endif %}
{% endblock %}
