{% extends 'employeepanel/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'employeepanel/index_style.css' %}"> 
{% endblock %}

{% block content %}
	{% if order_list %}
		<br>
		<br>
		<table>
			<tr>
				<th>Pickup time</th>
				<th>#</th>
				<th>Recipient</th>
				<th>Telephone number</th>
				<th>Contents</th>
				<th>X</th>
				<th>Price</th>
				<th>Comments</th>
				<th>Status</th>
				<th>Choices</th>
			</tr>
		{% for order in order_list %}
			<tr>
				<td>{{ order.pickup_time }}</td>
				<td>{{ order.id }} </td>
				<td>{{ order.name_of_customer }}</td>
				<td>{{ order.phone_number }}</td>
				<td>
				{% for dishes in order.dishes.all %}
					{% if not forloop.last %}
					<p>{{ dishes.dish.name }}</p>
					<hr>
					{% else %}
					<p>{{ dishes.dish.name }}</p>
					{% endif %}
				{% endfor %}
				</td>
				<td>
				{% for dishes in order.dishes.all %}
					{% if not forloop.last %}
					<p>{{ dishes.quantity }}</p>
					<hr>
					{% else %}
					<p>{{ dishes.quantity }}</p>
					{% endif %}
				{% endfor %}
				</td>
				<td>{{ order.get_order_total }}</td>
				<td>{{ order.comment }}</td>
				<td>{{ order.get_status_display }}</td>
				<td>
				<form action="{% url 'employeepanel:update_order' order.id %}" method="post">
					{{ update_order_status_form.as_p }}
					{% csrf_token %}
					<input type="submit" value="Update">
				</form>
				</td>
			<tr>
		{% endfor %}
		</table>
	{% else %}
		<p>There are no orders available</p>
	{% endif %}
{% endblock %}
