{% extends 'takeaway/base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/password_reset_confirm_style.css' %}">
{% endblock extra_css %}

{% block title %}Enter new password{% endblock %}

{% block content %}
    <div class='pass_reset_form'>
        <h1>Set a new password</h1>
        <form method="POST">
          {% csrf_token %}
          {% include 'takeaway/form_util.html' with form=form %}
          <p><input type="submit" value="Change my password" class="button"></p>
        </form>
    </div>
{% endblock %}